.skills{
    position:relative;
    /* margin-top: 50px; */
    width:100vw;
    height:80vh;
    font-family: 'Montserrat', sans-serif;

     background-color: black;
}
.skills-items{
    /* position: relative; */
   height:80vh;
}
.content{
    position:absolute;
    width:70vw;
    height:60vh; 
     background-color: black;
    border:2px solid #5d0f67;
    box-shadow: 10px 7px 63px -1px rgba(27,164,191,0.67); 
    /* /* position: absolute; */
  /* top: 65%; */
  top:30%;
  left: 50%;
  transform: translate(-50%, -60%); 
  border-radius: 40px;
  text-align: center;
  padding:10px;

}

.content h1{
    margin: auto;
    padding: 10px;
    color:#fff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    letter-spacing: 1.5px;

}
.content p{
    margin: 0 auto;
    padding: 5px;
    color:#dfdfdf;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
  
}
.itemOne{
    
    margin: 0px;
    padding-left: 76px;
 
}
.itemOne h5{
   
    color:#fff;
    padding-right: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 3vmin;
}
